asgiref==3.7.2
attrs==23.1.0
beautifulsoup4==4.12.2
CacheControl==0.13.1
certifi==2023.5.7
charset-normalizer==3.1.0
cssbeautifier==1.14.8
Django==4.2.2
django-cors-headers==4.1.0
django-rest-framework==0.1.0
django-seed==0.3.1
djangorestframework==3.14.0
drf-spectacular==0.26.3
drf-spectacular-sidecar==2023.7.1
EditorConfig==0.12.3
Faker==18.10.1
html5lib==1.1
idna==3.4
inflection==0.5.1
jsbeautifier==1.14.8
jsonschema==4.17.3
lxml==4.9.2
msgpack==1.0.5
openai==0.27.8
Pillow==9.5.0
psycopg2-binary
pyrsistent==0.19.3
python-dateutil==2.8.2
pytz==2023.3
pywebcopy==7.0.2
PyYAML==6.0
requests==2.31.0
six==1.16.0
soupsieve==2.4.1
sqlparse==0.4.4
toposort==1.10
typing_extensions==4.6.3
tzdata==2023.3
uritemplate==4.1.1
urllib3==2.0.3
webencodings==0.5.1
